* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body 
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


:root {
  --cor-primaria: #D75258 ;
  --cor-detaque: #D75258;
  --cor-base: #333333;
  --cor-texto: #20212b;
  --cor-detaque-hover: #bf2f1a;
  
  --fonte-corpo: "Work Sans", sans-serif;
  --fonte-titulo: "Cormorant Infant", serif;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.banner-sobre {
  width: 100%;
  height: 300px; /* você pode ajustar essa altura como quiser */
  overflow: hidden;
}

.banner-sobre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



a {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.container {
  padding-left: 320px;
  padding-right: 320px;
}


.atividades-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}


.title {
  font-family: var(--fonte-titulo);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    background-color: var(--cor-detaque);
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%, -50%);
  }
}
.subtitle {
  font-family: var(--fonte-corpo);
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.cp {
  color: var(--cor-primaria);
}

.title-dados {
  font-family: var(--fonte-corpo);
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}

.text-serif-dados {
  font-family: var(--fonte-titulo);
  font-size: 46px;
  color: #FADC86;
  font-weight: 600;
}

.text-serif-dados-bold {
  font-family: var(--fonte-titulo);
  font-size: 46px;
  color: #FADC86;
  font-weight: 700;
}

.cd {
  color: var(--cor-detaque);
}

.btn-doar {
  display: inline-block;
  background-color: var(--cor-detaque);
  padding: 14px 35px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  font-variant: normal;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: var(--cor-detaque-hover);
    transition: 0.3s;
  }
}
.active {
  height: 100%;
  transition: 300ms;
  visibility: visible;
}


@media (min-width: 1401px) and (max-width: 1630px) 
{
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) 
{
  .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) 
{
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 481px) and (max-width: 768px) 
{
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 361px) and (max-width: 480px) 
{
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 360px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 40px;
  }
}



/* Cor para mensagens de sucesso (verde) */
.ajs-message.ajs-success {
  background-color: #050505 !important;  /* Cor de fundo verde */
  color: white !important;  /* Cor do texto branco */
}


  .fundo-valores {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .qrcode-img {
  max-width: 300px;
  width: 40%;
  margin: 20px 0;
  border: 8px solid #ccc;
  border-radius: 10px;
}


.donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

